table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 750px;
}
thead {
    border: none;
    color: blue;
}
tbody {
    border: 2px solid black;
}
.T{
    background-color: rgb(224, 215, 49);
}
.B {
    background-color: coral;
}